<div class="container">
    @if (!error) {
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>{{apod.title}}</h2>
                <h4>{{apod.date}}</h4>
                <img [src]="apod.url" class="img-fluid" [alt]="apod.title" />
                <p>
                    {{apod.explanation}}
                </p>
            </div>
        </div>
    </div>
    }@else {
    <div class="alert alert-danger" role="alert">
        <strong>Error</strong> {{errorMesssage}}
    </div>

    }

</div>