<div class="container">
	<fieldset id="container">
		<form name="calculator">
			<input id="display" type="text" name="display" [value]="display" readonly>

			<input class="button digits" type="button" value="7" (click)="handleClick(7)">
			<input class="button digits" type="button" value="8" (click)="handleClick(8)">
			<input class="button digits" type="button" value="9" (click)="handleClick(9)">
			<input class="button mathButtons" type="button" value="+" (click)="handleClick('+')">
			<br>
			<input class="button digits" type="button" value="4" (click)="handleClick(4)">
			<input class="button digits" type="button" value="5" (click)="handleClick(5)">
			<input class="button digits" type="button" value="6" (click)="handleClick(6)">
			<input class="button mathButtons" type="button" value="-" (click)="handleClick('-')">
			<br>
			<input class="button digits" type="button" value="1" (click)="handleClick(1)">
			<input class="button digits" type="button" value="2" (click)="handleClick(2)">
			<input class="button digits" type="button" value="3" (click)="handleClick(3)">
			<input class="button mathButtons" type="button" value="x" (click)="handleClick('*')">
			<br>
			<input id="clearButton" class="button" type="button" value="C" (click)="handleClick('C')">
			<input class="button digits" type="button" value="0" (click)="handleClick(0)">
			<input class="button mathButtons" type="button" value="=" (click)="handleClick('=')">
			<input class="button mathButtons" type="button" value="/" (click)="handleClick('/')">
		</form>
	</fieldset>
</div>