<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">Angular</a>
		<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
			data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav me-auto mt-2 mt-lg-0">
				@for (route of routes; track $index) {
					<li class="nav-item">
						<a class="nav-link active" [routerLink]="route.path" routerLinkActive="active" aria-current="page">{{route.path}}</a>
					</li>	
				}

			</ul>
		</div>
	</div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>